<!DOCTYPE html>
<html>
	<head>
		<title>templatePage</title>
		<link rel="stylesheet" type="text/css" href="styles.css" />
	</head>

	<!--center text on screen -->
	<body>
		<!--create a grid within -->
		<div class="grid">
			<!--menu -->
			<a href="../" class="menuIcon"><h2>Joshua Hanneson</h2></a>
			<div class="menuItems">
				<a href="../about" class="menuItem"><h2>About</h2></a>
				<a href="../portfolio" class="menuItem"><h2>Portfolio</h2></a>
				<a href="../" class="menuItem"><h2>Home</h2></a>
			</div>

			<!--content -->
			<div class="content">
				<h1 class="title">Title</h1>
				<p>lorem ipsum</p>
			</div>
		</div>
	</body>
</html>