ul{
    list-style-type: none;
}

body {
    background-color: black;
    background-image: url(assets/Pencil.png);
    background-size: cover;
}





#title {
    color: deeppink;
    font-size: 400%;
}

#content {
	height: 30em;
	width: 30em;
    color: deeppink;

	position: absolute;
	right: 9.5em;
	top: 5em;
}

#menu {
    width: 15%;
    position: absolute;
    top: 200px;
}
.menuItem {
    border: 2px solid deeppink;
    background-image: linear-gradient(to top right, rgb(100, 100, 100), rgb(230, 230, 230));
    border-radius: 25px;
    padding: 8px;
    margin: 20px;
    
}

.menuItem:hover {
    text-shadow: 4px, 4px, rgb(255, 0, 187);
    box-shadow: 0px 0px 20px 7px rgb(255, 0, 187);
}