h1{
font-size: 700%;
}

ul{
    list-style-type: none;
}

body {
    background-color: rgb(100, 5, 5);
    background-image: url(assets/Pencil.png);
    background-size: cover;
}





#title {

	
	color: rgb(221, 63, 180);
}

#content {
	height: 30em;
	width: 30em;

	position: absolute;
	right: 9.5em;
	top: 5em;
	background-image: linear-gradient(to top right, rgb(100, 100, 100), rgb(230, 230, 230));
}

#menu{
    width: 15%;
    position: absolute;
    top: 200px;
}
.menuItem{
    border: 3px solid pink;
    border-radius: 25px;
    padding: 8px;
    margin: 20px;
}