@backgroundColor: rgb(180, 198, 231);
@purple: rgb(128, 0, 128);
@blue: rgb(17, 106, 148);
@lightBlue: rgb(26, 160, 220);
@font: verdana, sans-serif;

body{
	font-family: @font;
	background: @backgroundColor;
	color: @blue;
}

